@model AuctionMaster.Models.Listing
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (User.Identity.IsAuthenticated)
{
    if (Model.IsSold == true)
    {
        foreach(var bid in Model.Bids)
        {
            if (bid.Price == Model.Price)
            {
                if (bid.IdentityUserId == userManager.GetUserId(User))
                {
                    <h5>Congrats, you won this bid! </h5>
                }else if (userManager.GetUserId(User) == Model.User.Id)
                {
                    <h5>@bid.User.UserName is the winner!</h5>
                }
                else
                {
                    <h5>Bidding is closed!</h5>
                }
            }
        }
    }
}

<h4 style="text-align:center">@Model.Title</h4>
<div class="container" style="background-color:rgba(138,129,133,0.6); margin-top:40px; margin-bottom:40px; padding:30px; border-radius:15px;">


    <div class="row">
        <div class="col col-6 col-lg-5">
            <img src="~/Images/@Model.ImagePath" style="max-width:400px; max-height:100%;" />
        </div>
        <div class="col col-6 col-lg-5">
            <div>@Model.Description</div>
            <div>Bid: $@Model.Price.ToString("N2")</div>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AddBid" method="post">
                    <div>
                        Bid: $<input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString()" />
                        <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)" />
                        <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />
                        <input type="submit" class="btn-primary" />
                    </div>

                </form>
                <p>Bids Submited: @Model.Bids.Count</p>
                <br />
                @if (userManager.GetUserId(User) == Model.User.Id)
                {
                    @foreach (var bid in Model.Bids)
                    {
                        <ul style="list-style-type:none;">
                            @bid.User.UserName bidded $@Model.Price.ToString("N2").
                        </ul>
                    }
                }

            }
            else
            {
                <div>
                    Bid: $<input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" />
                    <input disabled type="submit" class="btn-primary" />
                </div>
                <p>Bids Submited: @Model.Bids.Count</p>
            }

            <div> Listed by: @Model.User.UserName </div>

                @if (User.Identity.IsAuthenticated)
                {
                    @if (userManager.GetUserId(User) == Model.User.Id)
                    {
                        @if (Model.IsSold == false)
                        {
                            <a asp-acion="CloseBidding" asp-route-id="@Model.Id">Close Bidding</a>
                        }

                    }
                }
            
        </div>
    </div>
</div>
<br />
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="container">
                        <form asp-action="AddComent" method="post">
                            <h5>Add Comment</h5>
                            <textarea class="form-control" aria-label="With textarea" name="Content" style="width:40%; vertical-align:top;"></textarea>
                            <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)" />
                            <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />
                            <input type="submit" class="btn-primary" style="display:inline-block; margin-top:10px;"  />
                        </form>

                    </div>
                }
                else
                {
                    <div class="container">
                        <form asp-action="AddComent" method="post">
                            <h5>Add Comment</h5>
                            <textarea class="form-control" aria-label="With textarea" name="Content" style="width:40%; vertical-align:top;"></textarea>
                            <input type="submit" disabled class="btn-primary" style="display:inline-block; margin-top:10px;" />
                        </form>

                    </div>
                }
                <br />
                <div class="container">
                    <h5>Comments:</h5>
                    @foreach (var comment in Model.Comments)
                    {
                        <div style="border:1px solid lightgray; margin:10px; border-radius:15px; width:40%; padding:10px;">  

                            <p>@comment.Content - @comment.User.UserName</p>
                        </div>
                    }
                </div>